
.head {
  text-align: center;
}

.gallery{
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;   
}

.card{
  height: 50vh;
  margin: 2rem 0;
  width: 28%;
  background-color: rgba(125, 121, 129, 0.265);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 10px rgb(101, 164, 135);
  transition: all 800ms ;
  
}


.title{
  font-size: 2.0rem;
  align-items: center;
  text-align: center;
}

.image{
 width: 50%;
}

.artist{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.price{
  text-align: center;
  align-items: baseline;
}

.buttons{
  align-items: center;
}

